.popup__info {
  display: block;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0 auto 5px;
  width: 358px;
}


@media screen and (max-width: 768px) {
  .popup__info {
    width: 238px;
  }
}

.popup__info_type_error {
  border-bottom: 1px solid #FF0000;
}
