.popup__form-username {
  display: block;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0 13px 5px;
  margin: 0 auto 30px;
  width: 358px;
}

.popup__form-username:focus {
  outline: none;
  border: 2px solid blue;
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .popup__form-username {
    width: 238px;
  }
}

