.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 37px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;
    padding-bottom: 25px;
  }
}
