.profile {
  display: flex;
  max-width: 882px;
  min-height: 120px;
  padding: 40px 0 48px;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    gap: 0;
    padding-bottom: 36px;
  }
}





