.wrapper {
  max-width: calc(1280px - 200px * 2);
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    max-width: calc(768px - 20px * 2);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: calc(100% - 20px * 2);
  }
}
